table {
    color:grey;
    background-color: red;
}
#container {
    color:green;
}
.lastColumn {
    color:black;
}
nav {
    top:0;
}
.direWolves {
    font-size: 1.3em;
    font-style: Trebuchet;
    border-style: dotted;
}
textarea {
    border-style: dotted;
}
input {
    margin: 3px
}
.column {
    float:left;
    width: 20%;
}
.indexCharacters {
    font-size: 1.3em;
}